<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('public/partials/head.ejs') %>
  <title>MF Trading</title>
  <meta name="description" content="MF Trading is the world's only dedicated Madfut trading hub website. Post your trades, view others' trades, and complete your collection!">
  <meta name="keywords" content="madfut, fifa, collection, madfut trading, trades, madfut trades, madfut sbc, pacybits, pacybase, madfut 22, madfut reddit, mad fut, trading hub, hub, madfut 25, madfut 24">
  <style>@media only screen and (min-width: 680px) {#aboutLink {box-shadow: 0 6px 3px -3px #4EF7F2;}}
</style>
</head>
<body>

	<%- include ('public/partials/header.ejs') %>

	<div class="descriptionctr">
		<div class="descheader">HELLO!</div>
		<div class="descshort" style="text-align:left">
            MF Trading is a website for casual and hardcore Madfut users to fill their collections. No more useless hours
            on random trading!
            <br/><br/>
            As for me, I am a college student making this all on my own. For this reason I ask for patience with bugs/updates as
            everything must be updated by myself alongside my own studies. That being said, I will work to make this the best it
            can be, so I request that any errors you spot or suggestions you have you report using the tab above. Please share
            this website with any friends you know it could be useful to! MF Trading can only be a useful tool with enough users.
            <br/><br/>
            Feel free to check me out on my <a href="https://github.com/jwwylie1" target="blank">Github</a> and
            <a href="https://www.linkedin.com/in/jonathan-wylie-4138332b8/" target="_blank">LinkedIn</a>.
		</div>
	</div>

	<%- include ('public/partials/footer.ejs') %>

</body>
</html>