<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('public/partials/head.ejs') %>
  <title>Post Not deleted</title>

</head>
<body>

	<%- include ('public/partials/header.ejs') %>

	<div class="greeting404" style="text-decoration: none;">
		YOUR PASSKEY WAS INCORRECT<br/><br/>
		CLICK&nbsp;&nbsp;<a href="/trades" style="color:#f2505d"><i>HERE</i></a>&nbsp;&nbsp;TO RETURN TO TRADES
	</div>
	
</body>
</html>