<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ('public/partials/head.ejs') %>
  <style>#reportLink {box-shadow: 0 6px 3px -3px #4EF7F2;}</style>
  <title>Madfut Trading</title>

</head>
<body>

	<%- include ('public/partials/header.ejs') %>

	<div class="reportlead">
    THANK YOU FOR REPORTING THIS BUG!<br/><br/>
    <a href="/" style="color:#B2FAF7"><u>RETURN TO HOME</u></a>
  </div>
	
  <%- include ('public/partials/footer.ejs') %>

</body>
</html>