<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6968042543897910"
     crossorigin="anonymous"></script>
		 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V5RCZVMRZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V5RCZVMRZY');
</script>
		 <%- include ('public/partials/head.ejs') %>
  <title>Update Log</title>

</head>
<body>

	<%- include ('public/partials/header.ejs') %>

	<table class="updatesctr">
    <tr class="updatesrow rowlight">
      <td class="updatesdate">17 Feb. 2022</td>
      <td class="updatescontent">Added new cards (TOTW22) and trades now expire automaticall after 5 days (previously 3)</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">14 Feb. 2022</td>
      <td class="updatescontent">Added timestamps to trades</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">11 Feb. 2022</td>
      <td class="updatescontent">Added new cards (Future Stars Team 2)</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">4 Feb. 2022</td>
      <td class="updatescontent">Added new cards (Future Stars Team 1 and POTMs)</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">29 Jan. 2022</td>
      <td class="updatescontent">Added new cards (TOTY Honourable Mentions)</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">27 Jan. 2022</td>
      <td class="updatescontent">Added new cards (TOTW19) and batch of Rare Silvers</td>
    </tr>
    <tr class="updatesrow rowspecial">
      <td class="updatesdate">24 Jan. 2022</td>
      <td class="updatescontent">Added delete post with passkey feature</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">22 Jan. 2022</td>
      <td class="updatescontent">Moved "Card Offer", "Pack Offer", and "Coin Offer" to top of list when making a new trade</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">20 Jan. 2022</td>
      <td class="updatescontent">Added all COMNEBOL Libertadores Cards<br/>Added new cards (POTMs and more)</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">19 Jan. 2022</td>
      <td class="updatescontent">Added new cards (TOTW18)</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">18 Jan. 2022</td>
      <td class="updatescontent">Completed all Nonrare Gold cards</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">16 Jan. 2022</td>
      <td class="updatescontent">Added more Nonrare Gold cards</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">14 Jan. 2022</td>
      <td class="updatescontent">Added all Nonrare Gold cards from Premier League, La Liga, Serie A, and Bundesliga</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">11 Jan. 2022</td>
      <td class="updatescontent">Added more user-friendly design for widescreen computers<br/>Added new cards</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">8 Jan. 2022</td>
      <td class="updatescontent">Added coin shortener to trades (200000000 <i class="fas fa-long-arrow-alt-right"></i> 200M)<br/>Added new Headliners and Rivellino</td>
    </tr>
    <tr class="updatesrow rowspecial">
      <td class="updatesdate">4 Jan. 2022</td>
      <td class="updatescontent">Moved domain to www.pacybase.com<br/>Added faster and less buggy trade filter system</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">3 Jan. 2022</td>
      <td class="updatescontent">Added Andriod/iOS filter for trades</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">2 Jan. 2022</td>
      <td class="updatescontent">Added all Sudamericana cards with player images<br/> Added all player images to Rare Gold cards</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">1 Jan. 2022</td>
      <td class="updatescontent">Added all Versus Ice/Fire cards with player images<br/> Added all Showdown cards with player images<br/> Added all Winter Wildcards cards with player images<br/> Added all Headliners cards with player images</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">31 Dec. 2021</td>
      <td class="updatescontent">Added all Numbersup cards with player images<br/> Added all Squad Foundations cards with player images<br/> Added all Next Generation cards with player images<br/> Added all Signature Signings cards with player images</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">30 Dec. 2021</td>
      <td class="updatescontent">Added all POTM cards with player images<br/> Added all RTTF cards with player images<br/> Added all TOTT cards with player images<br/> Added all Ones to Watch cards with player images<br/> Added all Flashback cards with player images<br/> Added all Objective cards with player images<br/> Added all Player Moments cards with player images<br/> Added all Record Breaker cards with player images<br/> Added all League OBJ cards with player images</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">29 Dec. 2021</td>
      <td class="updatescontent">Added all Icon cards with player images<br/> Added all Club Hero cards with player images</td>
    </tr>
    <tr class="updatesrow rowlight">
      <td class="updatesdate">28 Dec. 2021</td>
      <td class="updatescontent">Added all TOTW Gold cards with player images<br/> Added all TOTW Silver cards with player images<br/> Added all and FUT Champs cards with player images</td>
    </tr>
    <tr class="updatesrow rowspecial">
      <td class="updatesdate">26 Dec. 2021</td>
      <td class="updatescontent">Completed mobile-friendly interface</td>
    </tr>
		<tr class="updatesrow rowlight">
      <td class="updatesdate">23 Dec. 2021</td>
      <td class="updatescontent">Added Beta message to home;<br/>Added updates page</td>
    </tr>
    <tr class="updatesrow rowdark">
      <td class="updatesdate">22 Dec. 2021</td>
      <td class="updatescontent">Added all Rare Gold cards (not including player images);<br/>Added all Rulebreaker cards (including player images)</td>
    </tr>
    <tr class="updatesrow rowspecial">
      <td class="updatesdate">21 Dec. 2021</td>
      <td class="updatescontent">The Start: Released PacyBase Beta</td>
    </tr>
  <table>

    <%- include ('public/partials/footer.ejs') %>

</body>
</html>