<div class="footerctr">
    Not affiliated, associated, or endorsed by Electronic Arts Inc. or Madfut<br/>
    Player images courtesy of <a href="https://wefut.com/" target="_blank">WeFut</a><br/>
    League and club images courtesy of <a href="https://futbin.com" target="_blank">FUTBIN</a>
</div>