<div class="footerctr">
    Not affiliated, associated, or endorsed by Electronic Arts Inc. or Madfut<br/>
    Card images courtesy of <a href="https://fifarosters.com" target="_blank">FifaRosters</a><br/>
    Player and club images courtesy of <a href="https://futbin.com" target="_blank">FUTBIN</a>
</div>