<div id="headerCtr">
    <a href="/">
      <img src="/files/imgs/bluemini.png" class="headerlogo">
    </a>
    <div class="mobileburger" onclick="dropMenu()"><i class="fas fa-bars"></i></div>
    <div class="linkBar">
      <a href="/trades" class="linkBlock" id="tradesLink">
        <div class="headerlink">TRADES</div>
      </a>
      <a href="/new" class="linkBlock" id="newLink">
        <div class="headerlink">POST A TRADE</div>
      </a>
      <a href="/sbc" class="linkBlock" id="sbcLink">
        <div class="headerlink">COMMUNITY SBC</div>
      </a>
      <!--<a href="/delete" class="linkBlock" id="deleteLink">
        <div class="headerlink">DELETE A TRADE</div>
      </a>-->
      <a href="/database" class="linkBlock" id="databaseLink">
        <div class="headerlink">CARD DATABASE</div>
      </a>
      <a href="/report" class="linkBlock" id="reportLink">
        <div class="headerlink">REPORT AN ISSUE</div>
      </a>
    </div>
  </div>